*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    position: fixed;
}

body{
   font-family:  "lato",sans-serif;   
}

main{
    /*
    text-align: center;
    align-items: center;
    */
    
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    background: rgb(3,168,243);
    background: linear-gradient(90deg, rgba(3,168,243,1) 0%, rgba(62,82,182,1) 86%); 
}

.txt{
	letter-spacing: 0.8;
}
.formu{
 
   width: 380px;
   height: 480px;
   position: relative;
   margin: 6% auto;
   background: #eaf1fa;
   border-radius: 10px;
   padding: 5px;
   overflow: hidden;
}
.btnLR{
    width: 220px;
    margin: 35px auto;
    padding:  8px 26px;
    position: relative;
    box-shadow: 0 0 20px 9px #00a6cbb0;
    border-radius: 30px; 
    border: 2em;
       
}
a{
	color: black;
}
.btn{
    /*margin-top: 5px;*/
    font-size: 13px;
    border: 0;
	right:0px;
	left:36px;
    padding: 10px 20px;
    outline: none;
    position: relative;
    border-radius: 100px;
    cursor: pointer;
    background: linear-gradient(to right, #00d4ff, hsl(240, 90%, 73%));
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: transparent;
    border-radius: 30px;
    
}

.register{
    top: 115px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

input#register\:email, input#register\:senha, input#register\:nome, input#register\:tel {
    width: 100%;
    padding: 9px 10px;
    margin: 5px 0;
    border: 2.5px solid black;
    border-radius: 15px; ;

    outline: none;
    background: transparent;
}


input[type=submit]{
    
   width: 85%;
    padding: 10px 30px;
    display: block;
    margin: auto;

    text-transform: uppercase;
    color: black;
    background:#00a5cb; 
    font-size: 20px;
    border:#9fa5aa solid 2px;
    border-radius: 8px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #4ccbe7;
}

#register{
    left: 50px;
    
}

@media screen and (min-width:320px) and (max-width:425px){
main{
    width: 100%;
    height: 100%;
}
.formu{ 
    width: 280px;
    height: 480px;
    position: relative;
    margin: 8% auto;
    background: #eaf1fa;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
 }
 
input#register\:email, input#register\:senha, input#register\:nome, input#register\:tel {
    width: 75%;
    padding: 16px 25px;
    border: 2.5px solid black;
    border-radius: 15px;
    
    margin: 0 auto;
    outline: none;
    background: transparent;
}
input[type=submit]{
    width: 70%;
    padding: 11px 30px;
    margin-left: 2%;
    margin-top: 15%;
    text-align: center;
    align-items: center;
}
}


  