*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}
body{
    background-position: center;
    background-size: cover;
    
    background: rgb(3,168,243);
   
    
}
header{
    background: rgba(140, 219, 255, 0.774);
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 2vh;

    font-size: 22px;
}
h1{
	padding:5px 10px;
}
#sair{
	float: right;
	color:black;
	margin-top:-5%;
	padding: 2px 10px;
	background: white;
}
main{
   
   width: 100%;
}
.conteiner{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}
table{
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.2rem;
    
}
thead{
    background: rgba(140, 219, 255, 0.774);
}

tbody{
    background: rgb(219, 244, 255);
}
td,th{
    border: 1px solid black;
    padding: 1vw ;
}
.botoes{
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 2vh 0vw 0px 15vw;
    
}
#confirmar, #cancelar{
    padding: 1.5rem;
    border-radius: 50%;

    font-size: 22px;
    background-color: #fff;
    
    cursor: pointer;
}
#confirmar{
    margin-right: 50px;
}
@media (max-width:620px) {
    table{
        font-size: 1rem;
    }

    td,th{
        padding: 10px 10px 10px 2px;
    }
}
@media (max-width:533px) {
    td,th{
        padding: 10px 0px 15px 1px;
    }
}